﻿@page "/"
@using Fido2NetLib
@using WebAuthn
@using WebAuthnExample.Client.User
@inject WebAuthn Auth
@inject IUserApi UserApi

<PageTitle>WebAuthn Example</PageTitle>

<h1>Basic functionality</h1>
<div>Nothing you do here is stored permanently yet, the server will keep the created data in memory only.</div>

<p>@activeNote</p>
<p>
    <label for="challenge">Challenge (Base64 URL encoded):</label>
    <div id="challenge">@Challenge</div>

    <label for="username">Username:</label>
    <input id="username" @bind-value="username" />

    <button @onclick="CreateCreds" disabled="@Running">Create credentials</button>

    @if (createdCreds != null)
    {
        <div>@($"Public key (Base 64 URL encoded): {ConvertToBase64Url(createdCreds.Id)}, Attestation: {createdCreds.Response.AttestationObject}[{createdCreds.Response.AttestationObject.Length}]")</div>
    }
</p>
<p>
    <button @onclick="VerifyCreds" disabled="@Running">Verify credentials</button>
    <div>@(retrievedCreds?.ToString() ?? "")</div>
    <div>@retrieveCredsMessage</div>
</p>

<div>@((MarkupString)Error)</div>
@code {
    private bool Running { get; set; }
    private string activeNote = "Checking WebAuthn availability";
    private string Error { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        Running = true;
        await Auth.Init();
        if (await Auth.IsWebAuthnPossible())
        {
            activeNote = "Browser says WebAuthn is available";
        }
        else
        {
            activeNote = "Browser says WebAuthn is not available";
        }
        Running = false;
    }

    private string Challenge { get; set; } = "";
    private string username = "Metallkiller";

    private AuthenticatorAttestationRawResponse? createdCreds;

    private async Task CreateCreds()
    {
        Running = true;
        try
        {
            var credentialRequest = await UserApi.GetCreationOptions(username);
            Challenge = ConvertToBase64Url(credentialRequest.Challenge);
            StateHasChanged();

            var rawCreds = await Auth.CreateCreds(credentialRequest);
            createdCreds = rawCreds;
            await UserApi.StoreCredential(username, rawCreds);
            Error = "";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            Error = e.ToString();
            while (e.InnerException != null)
            {
                e = e.InnerException;
                Error += "\r\n\t" + e;
            }
            Error = Error
                .Replace("\r\n", "<br />")
                .Replace("\n", "<br />")
                .Replace("\t", "&nbsp;&nbsp;&nbsp;&nbsp;");
        }


        Running = false;
    }

    private AuthenticatorAssertionRawResponse? retrievedCreds;
    private string? retrieveCredsMessage;

    private async Task VerifyCreds()
    {
        Running = true;
        var request = await UserApi.GetVerificationOptions(username);
        try
        {
            retrievedCreds = await Auth.Verify(request);
            var token = await UserApi.VerifyCredential(username, retrievedCreds);
            retrieveCredsMessage = "Token response: " + token;
        }
        catch (Exception e)
        {
            retrieveCredsMessage = e.Message;
            Console.WriteLine(e.Message);
        }
        Running = false;
    }

    private string ConvertToBase64Url(byte[] data)
    {
        return Convert.ToBase64String(data).Replace("/", "_").Replace("+", "-").Replace("=", "");
    }
}