﻿@page "/info"

<PageTitle>Info</PageTitle>

<h1>Info</h1>

@if (Infos != null)
{
    @foreach (var info in Infos)
    {
        <div>@info</div>
    }
}

@code {
    private string[]? Infos { get; set; }

    protected override void OnInitialized()
    {
        Infos = new[]
        {
            $"Fido2.Models: {typeof(Fido2NetLib.CredentialCreateOptions).Assembly.GetName().Version}",
        };
    }
}
